import os
from werkzeug.utils import secure_filename

@app.route('/post', methods=['GET', 'POST'])
def post():
    if request.method == 'POST':
        item = request.form.get('item')
        description = request.form.get('description')
        name = request.form.get('name')
        phone = request.form.get('phone')

        file = request.files.get('image')
        filename = ""

        if file and file.filename != "":
            filename = secure_filename(file.filename)
            file.save(os.path.join('static', filename))

        new_id = len(items) + 1

        new_data = {
            'id': new_id,
            'item': item,
            'description': description,
            'name': name,
            'phone': phone,
            'image': filename
        }

        items.append(new_data)
        save_items(items)

        return redirect('/')

    return render_template('post.html')
